[Desktop Entry]
Encoding=UTF-8
Name=Sonic-Rainbow
Comment=Graphical multimedia player
Comment[pl]=Graficzny odtwarzacz plików multimedialnych
Icon=sonic-rainbow.xpm 
Exec=sonic-rainbow
Terminal=false
Type=Application
Categories=Multimedia;Player;
# vi: encoding=utf-8
