[Desktop Entry]
Name=Sonic-Rainbow
Comment=Graphical multimedia player
Comment[pl]=Graficzny odtwarzacz plików multimedialnych
Icon=sonic-rainbow 
Exec=sonic-rainbow
Terminal=false
Type=Application
Categories=GTK;Multimedia;Player;
# vi: encoding=utf-8
